<a href="https://colab.research.google.com/github/igoroliveira24/Python/blob/main/PrimeiraAulaPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
LQD = int(input("Digite o lado do quadrado "));
AQD = LQD * LQD;
print(AQD);

Digite o lado do quadrado 5
25

In [ ]:
SLR = int(input("Digite o salario do funcionario "));
RJT = SLR * 1.15;
print(RJT);

Digite o salario do funcionario 1000
1150.0

In [ ]:
LTG = int(input("Digite o lado do triangulo "));
BTG = int(input("Digite a base do triangulo "));
ATG = ((LTG * BTG)/2);
print(ATG);

Digite o lado do triangulo 5
Digite a base do triangulo 5
12.5

In [ ]:
C = int(input("Digite a temperatura em graus celcius "));
F = ((C * 1.8) + 32);
print(F);

Digite a temperatura em graus celcius10
50.0

In [ ]:
A = int(input("Digite o valor de A "));
B = int(input("Digite o valor de B "));
C= int(input("Digite o valor de C "));
X = ((B * B) - 4 * A * C);
if X < 0:
	print("Nenhuma raiz real");
else:
	if X == 0:
		RZ1 = (-B / (2 * A));
		print(RZ1);
	else:
		RZ1 = ((-B + X)/ (2 * A));
		RZ2 = ((-B - X)/ (2 * A));
		print(RZ1," e ",RZ2);

Digite o valor de A 1
Digite o valor de B -4
Digite o valor de C 2
6.0  e  -2.0

In [ ]:
Y = float(input("Digite um valor "))
X = float(input("Digite outro valor "))
Soma = X + Y;
Y = Soma - Y;
X = Soma - Y;
print("Seu primeiro valor se tornou", Y,"e seu segundo valor",X);

Digite um valor 12.412312
Digite outro valor 234.1123123
Seu primeiro valor se tornou 234.11231230000004 e seu segundo valor 12.412311999999986

In [ ]:
A = int(input("Digite um valor inteiros para a altura do paralelepipedo "))
B = int(input("Digite um valor inteiros para a base do paralelepipedo "))
C = int(input("Digite um valor inteiros para a largura do paralelepipedo "))
V = A * B * C;
print(V);

Digite um valor inteiros para a altura do paralelepipedo 10
Digite um valor inteiros para a base do paralelepipedo 24
Digite um valor inteiros para a largura do paralelepipedo12
2880

In [ ]:
Deposito = float(input("Digite o valor da aplicação que sera feita "));
TM = int(input("DIgite o tempo em minutos que deseja deixar o deposito "));
VM = (Deposito *(1 +(0.013 * TM)));
print(VM);

Digite o valor da aplicação que sera feita 5000
DIgite o tempo em minutos que deseja deixar o deposito 24
6560.0

In [ ]:
X = int(input("Digite um valor inteiro "));
Y = int(input("Digite outro valor inteiro "));
if X > Y:
  Dif = X - Y;
else:
  Dif = Y - X;
print(Dif);

DIgite um valor inteiro 13
DIgite outro valor inteiro 24
11

In [ ]:
X = float(input("Digite um valor inteiro "));
Y = float(input("Digite outro valor inteiro "));
if X > Y:
  Dif = X - Y;
else:
  Dif = Y - X;
print(Dif);

In [ ]:
R = float(input("Digite o raio de uma circunferencia "));
C = ((2 * 3.14) * R);
print(C);

Digite o raio de uma circunferencia 9
56.52

In [ ]:
AN = int(input("Digite o ano em que nasceu "));
AA = int(input("Digite o ano em que atual "));
if(AN >= AA):
  print("Digite sua o ano corretamente")
else:
  ID = AA - AN;
  print("Sua idade é", ID, "daqui 17 anos terá ",(ID + 17));

Digite o ano em que nasceu 22222222222
Digite o ano em que atual 2
Digite sua o ano corretamente

In [ ]:
QA = float(input("DIgite o peso do alimento em quilos "));
D = ((QA * 1000)/50)
print(D);

DIgite o peso do alimento em quilos 10
200.0

In [ ]:
ANG1 = int(input("Digite um angulo do triangulo "));
ANG2 = int(input("Digite outro angulo do triangulo "));
if(ANG1 + ANG2 > 180):
  ANG3 = ("Os angulos nao formam um triangulo");
else:
  ANG3 = 180 - (ANG1 + ANG2)
print(ANG3);

Digite um angulo do triangulo 90
Digite outro angulo do triangulo 89
1

In [ ]:
CTT1 = float(input("Digite o valor de um dos catetos do triangulo "));
CTT2 = float(input("Digite o valor do outro cateto do triangulo "));
HPT = CTT1**2 + CTT2**2
HPT = HPT**0.5
print(HPT);

Digite o valor de um dos catetos do triangulo 2
Digite o valor do outro cateto do triangulo 5
5.385164807134504

In [ ]:
HT = int(input("Digite as horas trabalhadas "));
VPH = float(input("Digite o valor por hora trabalhada "));
PD = int(input("Digite a porcentagem de desconto (se não houver digite 0) "));
ND = int(input("Digite o numero de dependentes "));
SR = HT * VPH;
SR = SR * (1 - (PD / 100));
SR = SR + (ND * 100)
print(SR);

Digite as horas trabalhadas 1200
Digite o valor por hora trabalhada 250
Digite a porcentagem de desconto (se não houver digite 0) 0
Digite o numero de dependentes 0
300000.0

In [ ]:
TP = int(input("Digite o tempo do percurso em horas "));
VM = int(input("Digite a velocidade media "));
LG = (TP * VM)/ 12
print(LG);

Digite o tempo do percurso em horas 2
Digite a velocidade media 50
8.333333333333334

In [ ]:
X = float(input("Digite um valor inteiro "));
Y = float(input("Digite outro valor inteiro "));
if X > Y:
  Dif = X - Y;
else:
  Dif = Y - X;
print(Dif);

In [ ]:
A = int(input("Digite o valor de A "));
B = int(input("Digite o valor de B "));
C= int(input("Digite o valor de C "));
X = ((B * B) - 4 * A * C);
if X < 0:
	print("Nenhuma raiz real");
else:
	if X == 0:
		RZ1 = (-B / (2 * A));
		print(RZ1);
	else:
		RZ1 = ((-B + X)/ (2 * A));
		RZ2 = ((-B - X)/ (2 * A));
		print(RZ1," e ",RZ2);

In [ ]:
NT1 = int(input("Digite o primeira nota "));
NT2 = int(input("Digite o segunda nota "));
NT3 = int(input("Digite o terceira nota "));
NT4 = int(input("Digite o quarta nota "));
MDA = ((NT1 + NT2 + NT3 + NT4)/4)
if(MDA >= 6,0):
	print("APROVADO");
else:
	if(MDA >= 3,0):
		print("EXAME");
	else:
		print("REPROVADO");

Digite o primeira nota 5
Digite o segunda nota 8
Digite o terceira nota 3
Digite o quarta nota 5
APROVADO

In [ ]:
NM1 = int(input("Digite o primeiro numero "));
NM2 = int(input("Digite o segundo numero "));
if(NM2 <= NM1):
  print(NM1, NM2);
else:
  print(NM2, NM1);

Digite o primeiro numero 5
Digite o segunfo numero 2
5 2

In [ ]:
NM1 = int(input("Digite o primeiro numero "));
NM2 = int(input("Digite o segunfo numero "));
if(NM2 <= NM1):
  print("Os tres primeiros numeros devem estar em ordem crescente");
else:
  NM3 = int(input("Digite o terceiro numero "));
  if(NM3 <= NM2):
    print("Os tres primeiros numeros devem estar em ordem crescente");
  else:
    NM4 = int(input("Digite o quarto numero "));
    if (NM4 >= NM3):
       print(NM1," , ",NM2," , ",NM3," , ",NM4);
    elif (NM4 >= NM2):
      print(NM1," , ",NM2," , ",NM4," , ",NM3)
    elif (NM4 >= NM1):
      print(NM1," , ",NM4," , ",NM2," , ",NM3)
    else:
	    print(NM4," , ",NM1," , ",NM2," , ",NM3)

Digite o primeiro numero 10
Digite o segunfo numero 20
Digite o terceiro numero 15
Os tres primeiros numeros devem estar em ordem crescente

In [ ]:
NM1 = int(input("Digite o primeiro numero "));
if ((NM1 % 2) == 0) or ((NM1 % 3) == 0):
	print("Ele é divisivel ou por 2 ou por 3");
else:
	print("Não é divisivel");

Digite o primeiro numero 1
Não é divisivel

In [ ]:
HI = int(input("Digite a hora que a partida começou "));
MI= int(input("Digite com quantos minutos a partida começou "));
HF = int(input("Digite a hora que a partida terminou "));
MF = int(input("Digite com quantos minutos a partida terminou "));
MJ = MF - MI;
if(0 <= MF <= 59) and (0 <= MI <= 59) and (0 <= HF <= 24) and (0 <= HI <= 24):

  if(HF < HI):
    HJ = (24 - HI) + HF;
  else:
    HJ = HF - HI;
  print("O jogo durou ",HJ," horas e ",MJ," minutos");

else:
  print("As horas ou os minutos estão incorretos");

Digite a hora que a partida começou 12
Digite com quantos minutos a partida começou 1
Digite a hora que a partida terminou 1
Digite com quantos minutos a partida terminou 34
O jogo durou  13  horas e  33  minutos

In [ ]:
N1 = int(input("Digite o primeiro numero "));
N2 = int(input("Digite o segundo numero "))
if(N1 > N2):
  maior = N1;
  menor = N2;
  RST = N1 % N2;
else:
	maior = N2;
	menor = N1;
	RST = N2 % N1;
if(RST == 0):
  print(maior,"é divisivel por",menor);
else:
  print(maior,"não é divisivel por",menor);

Digite o primeiro numero 12
Digite o segundo numero 9
12 não é divisivel pelo 9

In [ ]:
N1 = int(input("Digite o primeiro numero "));
N2 = int(input("Digite o segundo numero "))
if(N1 > N2):
  maior = N1;
  menor = N2;
else:
	maior = N2;
	menor = N1;
if maior % menor == 0:
  print(maior,"é divisivel por",menor);
else:
  print(maior,"não é divisivel por",menor);

Digite o primeiro numero 5
Digite o segundo numero 10
10 é divisivel por 5

In [ ]:
NV = int(input("Digite o numero de voltas"));
EC = int(input("Digite a extensão do circuito (em metros) "));
TD = float(input("Digite o tempo de duração (em minutos) "));
S = EC * NV;
S = S / 1000;
TD = TD / 60
VM = S/TD;
print("A velocidade media em kilometros por hora é", VM);

Digite o numero de voltas60
Digite a extensão do circuito (em metros) 5780
Digite o tempo de duração (em minutos) 123
A velocidade media em kilometros por hora é 2.8195121951219515

In [ ]:
PAtual = float(input("Digite o preço atual do produto "));
MMensal = float(input("Digite a media mensal "));
if MMensal >= 500 and PAtual >=30 :
  if MMensal >= 1000 and PAtual >=80:
     PNovo = PAtual * 0.95;
  else:
    PNovo = PAtual * 1.15;
else:
  if MMensal < 500 and PAtual < 30:
      PNovo = PAtual * 1.10;
  else:
    PNovo = PAtual;
print(PNovo);

Digite o preço atual do produto 80
Digite a media mensal 1000
76.0

In [ ]:
print("Digite 1 para poupança");
INV = (int(input("Digite 2 para renda fixa ")));
V = (float(input("Digite o valor do investimento ")));
if INV != 1 and INV != 2:
  print("Digite uma opção válida");
else:
  if INV == 1:
    V = V * 1.03;
  else:
    if INV == 2:
      V = V * 1.05;
print(V);

Digite 1 para poupança
Digite 2 para renda fixa 2
Digite o valor do investimento 100
105.0

In [ ]:
DNasc = (int(input("Digite a dia do nascimento ")));
MNasc = (int(input("Digite o mes do nascimento ")));
ANasc = (int(input("Digite o ano do nascimento ")));
from datetime import datetime
hoje = datetime.now()
anoAtual = hoje.year
mesAtual = hoje.month
diaAtual = hoje.day

if(DNasc > diaAtual):
  if(MNasc < mesAtual)
    mestotal = mestotal + 1;


if(ANasc > anoAtual):
  print("Digite uma data válida");
else:
  resusltadoEmDias = anoAtual - ANasc;
  resusltadoEmDias = resusltadoEmDias * 365;
  contbissexto = ANasc
  while contbissexto < anoAtual:
    contbissexto = contbissexto + 1;
    if contbissexto % 4 == 0;
      resusltadoEmDias = resusltadoEmDias + 1
  if(MNasc > mesAtual)
    mestotal = MNasc - mesAtual;
  else:
    if(MNasc < mesAtual)
      mestotal = MNasc - mesAtual;
  if(DNasc > diaAtual)
    diaTotal = DNasc - diaAtual ;
  else:
    if(DNasc < diaAtual)
      diaTotal = DNasc - diaAtual;

resusltadoEmDias = resusltadoEmDias + mesTotal + diaTotal;

resusltadoEmDias - contbissexto;

resultad = resusltadoEmDias % 365;
anoTotal = (resusltadoEmDias - resultad) / 365;
cont = 1
while cont <= 12:
  if cont < 8:
    if cont % 2 == 0:
      if cont == 2:
        resultad = resultad - 28;
      else:
        resultad = resultad - 30;
    else:
      resultad = resultad - 31;
  else:
    if cont % 2 == 0:
      resultad = resultad - 31;
    else:
      resultad = resultad - 30;
  cont = cont + 1;

2025

In [ ]:
n = 10
while n <= 150:
  r = n ** 2
  n = n + 1
  print(r)

In [ ]:
N = (int(input("Digite um numero inteiro ")))
cont = N
while cont > 1:
  cont = cont - 1
  N = N * cont
print(N)

Digite um numero inteiro 5
120

In [ ]:
N = (int(input("Digite um numero inteiro ")))
rst = 1
cont = 2
while cont <= N:
  rst = rst + (1/cont)
  cont = cont + 1
print(rst)

Digite um numero inteiro 1
1

In [ ]:
n = 0
while n < 1 or n > 10:
  n = (int(input("Digite um numero inteiro (1-10) ")))
  if n < 1 or n > 10:
    print("Digite um numero entre 1 e 10")
  else:
    cont = 0
    while cont < 10:
      cont = cont + 1
      rst = n * cont
      print(rst)

Digite um numero inteiro (1-10) 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
rst = 0
n = (int(input("Digite um numero inteiro ")))
n2 = (int(input("Digite outro numero inteiro ")))
if n < n2:
  maior = n2
  menor = n

else:
  maior = n
  menor = n2
dif = maior - menor
if n % 2 == 0:
  cont = 1
  while cont < dif:
    rst = rst + n + cont
    cont = cont + 2
else:
  cont = 0
  while cont < dif:
    rst = rst + n + cont
    cont = cont + 2
print(rst)

Digite um numero inteiro 2
Digite outro numero inteiro 10
24

In [ ]:
def fat(fatorial):
  cont = fatorial
  while cont > 1:
    cont = cont - 1
    fatorial = fatorial * cont
  return(fatorial)

N = (int(input("Digite um numero inteiro ")))
rst = 1
cont = 1
while cont <= N:
  rst = rst + (1/fat(cont))
  cont = cont + 1
print(rst)

Digite um numero inteiro 4
2.708333333333333

In [ ]:
N = (int(input("Digite um numero inteiro ")))
ant = 0
rst = 1
while rst <= N:
  rst += ant
  if(rst <= N):
    print(rst)
  ant = rst - ant

Digite um numero inteiro 59
1
2
3
5
8
13
21
34
55

In [ ]:
maior = 0
menor = 0
for _ in range(100):
  N = (int(input("Digite um numero inteiro ")))
  if maior == 0 or N > maior:
    maior = N
  if menor == 0 or N < menor:
    menor = N
print("O maior numero na sequencia foi ",maior)
print("O menor numero na sequencia foi ",menor)

Digite um numero inteiro 1
Digite um numero inteiro 2
Digite um numero inteiro 3
Digite um numero inteiro 4
Digite um numero inteiro 5
5
1

In [ ]:
rst = 0
i = 0
for _ in range(64):
  rst = 2 ** i
  i += 1
print(rst)

9223372036854775808

In [ ]:
maior = 0
menor = 0
dif = 0
i = 1
j = 1
rst = 0
cont = 0
primo = 0
N1 = (int(input("Digite um numero inteiro ")))
N2 = (int(input("Digite um numero inteiro ")))
if N1 < N2:
  maior = N2
  menor = N1
  dif = N2 - N1
else:
  maior = N1
  menor = N2
  dif = N1 - N2
for _ in range(dif):
  primo = menor + i
  while j <= primo:
    rst = primo % j
    if rst == 0:
      cont += 1
    j += 1
  if cont == 2:
    print(primo,"é primo")
    cont = 0
  else:
    cont = 0
  j = 1
  i += 1

Digite um numero inteiro 5
Digite um numero inteiro 15
7 é primo
11 é primo
13 é primo

In [ ]:
i = 0
j = 0
for _ in range(6):
  i +=1
  j = 0
  for _ in range(6):
    j += 1
    if i + j == 7:
      print(i,"+",j,"= 7")

1 + 6 = 7
2 + 5 = 7
3 + 4 = 7
4 + 3 = 7
5 + 2 = 7
6 + 1 = 7

In [ ]:
i = 1
j = 1
rst = 1
for _ in range(49):
  i += 1
  j += 2
  rst += i/j
rst = round(rst, 2)
print(rst)

26.47

In [ ]:
a = 1.10
m = 1.50
i = 0
while a < m:
  a += 0.03
  m += 0.02
  i += 1
print("Vai demorar",i,"anos para ela ser maior")

Vai demorar 41 anos para ela ser maior

In [ ]:
b = (int(input("Digite o numero da base ")))
p = (int(input("Digite o numero da expoente ")))
rst = 0
rst = b ** p
print(rst)

Digite o numero da base 2
Digite o numero da expoente 3
8

In [ ]:
i = 1
rst = 1
for _ in range(14):
  i += 1
  if(i % 2 == 0):
    rst -= i/(i*i)
  else:
    rst += i/(i*i)
print(rst)

0.8333333333333333